@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import './variables.scss';

.ui-icon-button {
  border: 1px solid $light-blue;
  background-color: $light-blue;
  border-radius: 7px;
  padding: 0 $spacing-md;
  font-weight: bold;
  cursor: pointer;
  color: $dark-blue;
  height: 33px;
}

.ui-button {
  border: 1px solid $light-blue;
  background-color: $light-blue;
  border-radius: 7px;
  padding: 0 $spacing-lg;
  font-weight: bold;
  cursor: pointer;
  color: $dark-blue;
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 14px;
  height: 33px;
  box-sizing: border-box;
}

.ui-form-button {
  border: 1px solid $light-blue;
  background-color: $light-blue;
  border-radius: 7px;
  padding: 0 $spacing-lg;
  cursor: pointer;
  color: $dark-blue;
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 14px;
  height: 30px;
  box-sizing: border-box;
}

.box {
  border-radius: 7px;
  border: 1px solid $light-blue;
  background-color: $white;
  padding: 12px;
  box-sizing: border-box;

  .box-header {
    font-size: 17px;
    font-weight: bold;
    padding: 0 0 $spacing-md 0;
  }
}

.form-input {
  height: 30px;
  padding: $spacing-sm $spacing-md;
  box-sizing: border-box;
  border-radius: 7px;
  border: 1px solid $grey;

  &:focus {
    outline: none;
  }
}

.separator {
  height: 2px;
  border: none;
  width: 70%;
  background-color: $light-blue;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.container {
  height: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-rows: 50px 1fr;
  background-color: $light-grey;

  .body-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;

    .body {
      display: grid;
      grid-template-columns: 200px 1fr;
      max-width: $max-width;
      width: 100%;
    }
  }
}