@import '../../assets/variables.scss';

.sidebar {
  display: grid;
  grid-template-rows: 82px 1fr 56px 62px;
  height: 100%;
  background-color: $white;
  box-sizing: border-box;
  border-right: 1px solid $light-blue;

  .sidebar-logo {
    display: flex;
    justify-content: center;
    padding: $spacing-lg;

    a {
      color: $dark;
    }
  }

  .sidebar-links {
    display: flex;
    flex-direction: column;
    height: fit-content;

    .sidebar-profile-link-wrapper {
      width: 100%;

      .sidebar-profile-link {
        width: 100%;
        padding: 0 $spacing-md;

        .sidebar-profile-link-avatar {
          height: 30px;
          width: 30px;
        }
      }
    }

    .sidebar-links-list {
      list-style-type: none;
      padding: 0;
      margin: $spacing-lg 0 0 0;
      font-size: 15px;
      width: 100%;

      .sidebar-link {
        padding: 0 $spacing-md;
        cursor: pointer;
        display: flex;

        a {
          color: $dark;
          display: grid;
          grid-template-columns: 24px 1fr;
          grid-gap: 10px;
          text-decoration: none;
          align-self: center;
          width: 100%;
          padding: $spacing-sm $spacing-md;
          border-radius: 5px;
          height: 35px;

          &:hover {
            background-color: $light-blue;
          }

          .sidebar-link-name {
            align-self: center;
          }

          svg {
            color: $dark-blue;
            align-self: center;
            justify-self: center;
          }
        }
      }
    }
  }

  .additional {
    height: fit-content;
    align-self: flex-end;
  }

  .sidebar-profile {
    padding: $spacing-lg;
    display: grid;
    grid-template-columns: 1fr 24px;
    grid-gap: 15px;
    color: $dark;
    height: 30px;
    align-self: flex-end;

    .user-link {
      display: grid;
      grid-template-columns: 30px 1fr;
      grid-gap: 5px;
      text-decoration: none;
      color: $dark;

      .username {
        align-self: center;
      }
    }

    svg {
      align-self: center;
      cursor: pointer;
    }

  }
}