@import '../../assets/variables.scss';

.profile {
  width: 100%;
  padding: $spacing-lg 0 0 0;
  box-sizing: border-box;
  display: grid;
  grid-template-rows: 372px 1fr;
  gap: 10px;

  .profile-header {
    height: 370px;
    width: 100%;
    display: grid;
    grid-template-rows: 270px 100px;

    .profile-header-bg-img {
      background-color: $grey;
      border-radius: 5px 5px 0 0;
    }

    .profile-header-main {
      align-self: flex-end;
      padding: $spacing-xl;
      box-sizing: border-box;
      display: flex;

      .profile-header-details {
        display: grid;
        grid-template-columns: 158px 1fr;
        flex-grow: 1;

        .profile-header-details-avatar {
          position: relative;

          .profile-header-details-avatar-img {
            height: 150px;
            width: 150px;
            object-fit: cover;
            border-radius: 50%;
            padding: $spacing-sm;
            background-color: $white;
          }

          .profile-header-details-avatar-status {
            width: 15px;
            height: 15px;
            position: absolute;
            right: 15px;
            top: 120px;
            border-radius: 50%;
            border: 3px solid $white;
          }

          .online {
            background-color: $status-green;
          }

          .offline {
            background-color: $dark-grey;
          }

          .busy {
            background-color: $status-red;
          }

          .away {
            background-color: $status-orange;
          }
        }
      }

      .profile-header-main-buttons {
        align-self: flex-end;
        margin: $spacing-lg 0;
        display: flex;
        gap: $spacing-md;
      }

      .profile-header-data {
        width: fit-content;
        align-self: flex-end;
        display: flex;
        flex-direction: column;

        .profile-header-data-fullname {
          font-size: 35px;
          font-weight: bold;
          width: fit-content;
        }
      }
    }
  }

  .profile-body {
    display: grid;
    grid-template-columns: 70% 1fr;
    gap: 10px;

    .profile-body-left {
      display: grid;
      grid-template-rows: 52px 1fr;
      gap: 10px;

      .profile-post-form {
        display: grid;
        grid-template-columns: 30px 1fr;
        gap: 8px;
        min-height: 50px;
        align-items: center;
        justify-content: center;

        .profile-post-form-avatar {
          width: 30px;
          height: 30px;
          object-fit: cover;
          border-radius: 50%;
        }

        form {
          width: 100%;
          display: flex;

          textarea {
            background-color: transparent;
            border: none;
            width: 100%;

            &:focus {
              outline: none;
            }
          }

          button {
            background-color: transparent;
            border: none;
            width: fit-content;
          }
        }
      }
    }

    .profile-body-right {
      .profile-friends {
        width: 100%;
        min-height: 100px;

        .profile-friends-list {
          display: flex;
          flex-wrap: wrap;

          .profile-friend {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-decoration: none;

            .profile-friend-name {
              color: #000;
              font-size: 14px;
            }

            .profile-friend-avatar-wrapper {
              position: relative;
              height: fit-content;

              .profile-friend-avatar {
                border-radius: 50%;
                height: 50px;
                width: 50px;
                object-fit: cover;
              }

              .profile-friend-status {
                position: absolute;
                height: 10px;
                width: 10px;
                border-radius: 50%;
                background-color: $grey;
                bottom: 2px;
                right: 2px;
                border: 2px solid $white;
              }

              .online {
                background-color: $status-green;
              }

              .busy {
                background-color: $status-red;
              }

              .away {
                background-color: $status-orange;
              }
            }
          }
        }
      }
    }
  }

  .box {
    border-radius: 7px;
    border: 1px solid $light-blue;
    background-color: $white;
    padding: 8px;
    box-sizing: border-box;

    .box-header {
      font-size: 17px;
      font-weight: bold;
      padding: 0 0 $spacing-md 0;
    }
  }
}