@import '../../assets/variables.scss';

.profile {
  width: 100%;
  padding: $spacing-lg 0 0 0;
  box-sizing: border-box;
  display: grid;
  grid-template-rows: 372px 1fr;
  gap: 10px;

  .profile-header {
    height: 370px;
    width: 100%;
    display: grid;
    grid-template-rows: 270px 100px;

    .profile-header-bg-img {
      background-color: $grey;
      border-radius: 5px 5px 0 0;
    }

    .profile-header-main {
      align-self: flex-end;
      padding: $spacing-xl;
      box-sizing: border-box;
      display: flex;

      .profile-header-details {
        display: grid;
        grid-template-columns: 158px 1fr;
        flex-grow: 1;

        .profile-header-details-avatar {
          position: relative;

          .profile-header-details-avatar-img {
            height: 150px;
            width: 150px;
            object-fit: cover;
            border-radius: 50%;
            padding: $spacing-sm;
            background-color: $white;
          }

          .profile-header-details-avatar-status {
            width: 15px;
            height: 15px;
            position: absolute;
            right: 15px;
            top: 120px;
            border-radius: 50%;
            border: 3px solid $white;
          }

          .online {
            background-color: $status-green;
          }

          .offline {
            background-color: $dark-grey;
          }

          .busy {
            background-color: $status-red;
          }

          .away {
            background-color: $status-orange;
          }
        }
      }

      .profile-header-main-buttons {
        align-self: flex-end;
        margin: $spacing-lg 0;
        display: flex;
        gap: $spacing-md;
      }

      .profile-header-data {
        width: fit-content;
        align-self: flex-end;
        display: flex;
        flex-direction: column;

        .profile-header-data-fullname {
          font-size: 35px;
          font-weight: bold;
          width: fit-content;
        }
      }
    }
  }

  .profile-body {
    display: grid;
    grid-template-columns: 70% 1fr;
    gap: 10px;

    .profile-body-left {
      display: grid;
      grid-template-rows: minmax(52px, auto) 1fr;
      gap: 10px;

      .profile-post-form {
        display: grid;
        grid-template-columns: 30px 1fr;
        gap: 8px;
        min-height: 50px;
        height: fit-content;
        align-items: center;
        justify-content: center;

        .profile-post-form-avatar {
          width: 30px;
          height: 30px;
          object-fit: cover;
          border-radius: 50%;
        }

        form {
          width: 100%;
          display: grid;
          grid-template-columns: 1fr 25px;
          gap: 10px;
          align-items: center;

          textarea {
            background-color: transparent;
            border: none;
            width: 100%;

            &:focus {
              outline: none;
            }
          }

          button {
            background-color: transparent;
            border: none;
            width: fit-content;
          }
        }

        .profile-post-emojis-wrapper {
          position: relative;
          height: fit-content;

          svg {
            color: $dark-grey;
            cursor: pointer;
          }

          .profile-post-emojis-box-wrapper {
            position: absolute;
            right: 0;
          }
        }
      }

      .profile-posts {
        align-self: flex-start;
      }
    }

    .profile-body-right {
      .profile-friends {
        width: 100%;
        min-height: 100px;

        .profile-friends-list {
          display: flex;
          flex-wrap: wrap;
          width: 100%;
          padding: 0 $spacing-sm;

          .profile-friend {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-decoration: none;

            .profile-friend-name {
              color: #000;
              font-size: 14px;
            }

            .profile-friend-avatar-wrapper {
              position: relative;
              height: fit-content;

              .profile-friend-avatar {
                border-radius: 50%;
                height: 50px;
                width: 50px;
                object-fit: cover;
              }

              .profile-friend-status {
                position: absolute;
                height: 10px;
                width: 10px;
                border-radius: 50%;
                background-color: $grey;
                bottom: 2px;
                right: 2px;
                border: 2px solid $white;
              }

              .online {
                background-color: $status-green;
              }

              .busy {
                background-color: $status-red;
              }

              .away {
                background-color: $status-orange;
              }
            }
          }
        }
      }
    }
  }
}

.profile-edit-wrapper {
  display: grid;
  grid-template-columns: 60% 1fr;
  gap: 15px;
  padding: $spacing-lg 0 0 0;

  .profile-edit {
    height: fit-content;

    .profile-edit-main-info {
      display: grid;
      grid-template-rows: 130px 70px;
      padding: 0 0 $spacing-xl 0;
      position: relative;
      height: 200px;
      box-sizing: border-box;

      .profile-edit-main-info-bg {
        height: 130px;
        width: 100%;
        background-size: cover;
      }

      .profile-edit-main-info-data {
        align-self: flex-end;
        padding: $spacing-xl $spacing-xl;
        box-sizing: border-box;
        display: grid;
        grid-template-columns: 100px 1fr;

        .profile-edit-main-info-avatar-wrapper {
          position: relative;

          .profile-edit-main-info-avatar {
            height: 100px;
            width: 100px;
            border-radius: 50%;
            justify-self: right;
            align-self: flex-end;
            cursor: pointer;
            border: 3px solid $white;
            box-sizing: border-box;
            object-fit: cover;
          }

          .profile-edit-main-info-avatar-change {
            position: absolute;
            background-color: $white;
            padding: $spacing-md;
            border-radius: 7px;
            border: 1px solid $light-blue;
            width: 130px;
            box-shadow: $box-shadow;

            button {
              width: 100%;
              display: inline-grid;
              grid-template-columns: 20px 1fr;
              border: none;
              border-radius: 7px;
              background-color: transparent;
              cursor: pointer;
              padding: $spacing-sm $spacing-md;
              text-align: left;
              align-items: center;
              gap: 10px;

              &:hover {
                background-color: $light-blue;
              }

              svg {
                color: $dark-blue;
              }
            }
          }
        }

        .profile-edit-main-info-name {
          height: fit-content;
          align-self: flex-end;
          display: inline-grid;
          grid-template-columns: min-content min-content;
          gap: $spacing-sm;

          span {
            width: fit-content;
          }
        }
      }
    }

    .profile-edit-form-wrapper {
      display: flex;
      flex-direction: column;

      .profile-edit-form-header {
        border-bottom: 3px solid $light-blue;
        padding: $spacing-sm;
        margin-bottom: $spacing-md;
        width: fit-content;
      }

      .profile-edit-form {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: fit-content;

        .profile-edit-input-wrapper {
          display: grid;
          grid-template-columns: 25% 1fr;
          gap: 10px;
          padding-bottom: $spacing-lg;

          label {
            font-size: 13px;
            text-align: right;
            padding-top: 6px;
          }

          .profile-edit-input {
            width: 300px;
            height: 30px;
            padding: $spacing-sm $spacing-md;
            box-sizing: border-box;
            border-radius: 7px;
            border: 1px solid $grey;

            &:focus {
              outline: none;
            }
          }

          .profile-edit-textarea {
            width: 300px;
            height: 100px;
            padding: $spacing-sm $spacing-md;
            box-sizing: border-box;
            border-radius: 7px;
            border: 1px solid $grey;

            &:focus {
              outline: none;
            }
          }

          .profile-edit-select {
            width: fit-content;
            height: 30px;
            padding: $spacing-sm $spacing-md;
            box-sizing: border-box;
            border-radius: 7px;
            border: 1px solid $grey;
            cursor: pointer;

            &:focus {
              outline: none;
            }
          }

        }

        .profile-edit-form-submit {
          align-self: center;
        }
      }
    }
  }

  .profile-edit-menu {
    display: flex;
    flex-direction: column;
    height: fit-content;

    .profile-edit-menu-list {
      list-style-type: none;
      padding: 0;
      margin: 0;
      font-size: 13px;
      width: 100%;

      .profile-edit-menu-link {
        cursor: pointer;

        a {
          display: flex;
          align-items: center;
          color: $dark;
          text-decoration: none;
          width: 100%;
          padding: 0 $spacing-md;
          border-radius: 5px;
          height: 35px;
          box-sizing: border-box;

          &:hover {
            background-color: $light-blue;
          }

          .profile-edit-link-name {
            align-self: center;
          }

          svg {
            color: $dark-blue;
            align-self: center;
            justify-self: center;
          }
        }
      }
    }
  }
}

.profile-edit-avatar-modal {
  font-size: 15px;
  width: 450px;
  height: fit-content;
  display: grid;
  grid-template-rows: repeat(3, min-content);
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  box-sizing: border-box;

  .avatar-modal-header {
    display: inline-grid;
    grid-template-columns: 1fr 23px;
    width: 100%;
    padding-bottom: $spacing-lg;

    span {
      width: fit-content;
    }

    svg {
      justify-self: flex-end;
      color: $grey;
      cursor: pointer;
      margin: -5px -5px 0 0;

      &:hover {
        color: $dark-grey;
      }
    }
  }

  .avatar-modal-text {
    padding: $spacing-xl 0;
  }

  img {
    justify-self: center;
  }

  .avatar-modal-buttons {
    display: grid;
    grid-template-columns: repeat(2, min-content);
    padding: $spacing-md;
    gap: 10px;
    align-items: center;
    justify-content: center;
  }

  label {
    width: fit-content;
    justify-self: center;
  }

  #upload-photo {
    opacity: 0;
    position: absolute;
    z-index: -1;
  }
}