@import '../../assets/variables.scss';

.profile {
  width: 100%;
  padding: $spacing-lg 0 0 0;
  box-sizing: border-box;

  .profile-header {
    height: 370px;
    width: 100%;
    display: grid;
    grid-template-rows: 270px 100px;

    .profile-header-bg-img {
      background-color: $grey;
      border-radius: 5px 5px 0 0;
    }

    .profile-header-main {
      align-self: flex-end;
      padding: $spacing-xl;
      box-sizing: border-box;
      display: flex;

      .profile-header-details {
        display: grid;
        grid-template-columns: 158px 1fr;
        flex-grow: 1;

        .profile-header-details-avatar {
          position: relative;

          .profile-header-details-avatar-img {
            height: 150px;
            width: 150px;
            object-fit: cover;
            border-radius: 50%;
            padding: $spacing-sm;
            background-color: $white;
          }

          .profile-header-details-avatar-status-online {
            width: 15px;
            height: 15px;
            background-color: green;
            position: absolute;
            right: 15px;
            top: 120px;
            border-radius: 50%;
            border: 2px solid $white;
          }

          .profile-header-details-avatar-status-offline {
            width: 15px;
            height: 15px;
            background-color: grey;
            position: absolute;
            right: 15px;
            top: 120px;
            border-radius: 50%;
            border: 2px solid $white;
          }
        }
      }

      .profile-header-main-buttons {
        align-self: flex-end;
        margin: $spacing-lg 0;
        display: flex;
        gap: $spacing-md;
      }

      .profile-header-data {
        width: fit-content;
        align-self: flex-end;
        display: flex;
        flex-direction: column;

        .profile-header-data-fullname {
          font-size: 35px;
          font-weight: bold;
          width: fit-content;
        }
      }
    }
  }

  .profile-body {
    display: grid;
    grid-template-columns: 70% 1fr;

    .profile-friends {
      width: 100%;
      min-height: 100px;
    }

    .profile-post-form {
      display: grid;
      grid-template-columns: 20px 1fr 20px;
      min-height: 50px;

      form {
        textarea {
          background-color: transparent;
        }

        button {
          background-color: transparent;
          border: none;
          width: fit-content;
        }
      }
    }
  }

  .box {
    border-radius: 7px;
    border: 1px solid $light-blue;
    background-color: $white;

    .box-header {
      font-size: 17px;
      font-weight: bold;
    }
  }
}
