@import '../../assets/variables.scss';

.auth {
  display: flex;
  justify-content: center;
  align-items: center;

  .auth-form {
    display: flex;
    flex-direction: column;

    input {
      padding: $spacing-sm $spacing-md;
      border: 1px solid $light-blue;
      background-color: $white;
    }

    .auto-form-button {
      padding: $spacing-sm $spacing-md;
    }
  }

  .box {
    border-radius: 7px;
    background-color: $white;
    border: 1px solid $light-blue;
    padding: $spacing-md;
  }
}
