@import '../../assets/variables.scss';

.header-wrapper {
  background-color: $white;
  border-bottom: 1px solid $light-blue;
  display: flex;
  align-items: center;
  justify-content: center;

  .header {
    display: grid;
    grid-template-columns: 200px 1fr 150px;
    box-sizing: border-box;
    width: 100%;
    max-width: $max-width;
    height: 100%;

    .header-logo {
      display: flex;
      align-items: center;
      width: fit-content;
      text-decoration: none;
      font-weight: bold;
      padding-right: $spacing-lg;

      svg {
        color: $dark-blue;
      }

      .header-logo-text {
        color: $dark;
      }
    }

    .header-search {
      align-self: center;

      .header-search-form {
        color: $dark-grey;
        display: grid;
        grid-template-columns: 16px 1fr;
        align-items: center;
        width: fit-content;
        padding: $spacing-sm $spacing-md;
        background-color: $light-blue;
        border-radius: 5px;

        input {
          border: none;
          height: 25px;
          width: 150px;
          margin-left: $spacing-sm;
          background-color: $light-blue;

          &:focus {
            outline: none;
          }
        }
      }

      .header-search-box {
        position: absolute;
        background-color: $white;
        border-radius: 5px;
        border: 1px solid $light-blue;
        width: 300px;
        padding: $spacing-lg;
        top: 50px;

        .header-search-box-item {
          display: grid;
          grid-template-columns: 40px 1fr;
          align-items: center;
          gap: 10px;
          text-decoration: none;
          color: $dark;
          padding: $spacing-md;
          border-radius: 5px;

          &:hover {
            background-color: $light-blue;

          }

          .header-search-box-item-avatar {
            height: 40px;
            width: 40px;
            object-fit: cover;
            border-radius: 50%;
          }
        }
      }
    }

    .header-messages-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 50px;
      color: $dark-grey;

      &:hover {
        background-color: $light-blue;
        cursor: pointer;
      }
    }

    .header-notifications-wrapper {
      position: relative;

      .header-notifications-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 50px;
        color: $dark-grey;

        &:hover {
          background-color: $light-blue;
          cursor: pointer;
        }
      }

      .header-notifications {
        position: absolute;
        top: 50px;
        width: 250px;
        min-height: 150px;
        background-color: $white;
        border-radius: 5px;
        border: 1px solid $light-blue;
        padding: $spacing-sm;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;

        .header-notification {
          width: 100%;
          display: grid;
          grid-template-columns: 50px 1fr 70px;
          gap: $spacing-sm;

          .header-notification-avatar {
            width: 50px;
            height: 50px;
            object-fit: cover;
          }

          .header-notification-text {
            display: flex;

            .header-notification-user-name {
              padding: 0 4px 0 0;
              font-weight: bold;
              width: fit-content;
            }
          }
        }
      }
    }

    .header-profile {
      display: flex;
      height: 100%;
      box-sizing: border-box;
      position: relative;

      .header-profile-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 50px;
        padding-left: $spacing-md;
        position: relative;

        &:hover {
          background-color: $light-blue;
          cursor: pointer;
        }

        .header-profile-icon-status-online {
          background-color: green;
          height: 10px;
          width: 10px;
          position: absolute;
          right: 16px;
          border-radius: 50%;
          bottom: 7px;
        }

        .header-profile-icon-status-offline {
          background-color: grey;
          height: 10px;
          width: 10px;
          position: absolute;
          right: 16px;
          border-radius: 50%;
          bottom: 7px;
        }

        .header-profile-avatar {
          width: 30px;
          height: 30px;
          object-fit: cover;
          border-radius: 50%;
        }

        svg {
          color: $dark-grey;
        }
      }

      .header-profile-wrapper {
        width: fit-content;
        align-items: center;

        .header-profile-icon {
          width: fit-content;
          display: grid;
          grid-template-columns: 1fr 16px;
        }

        .header-user-nav {
          position: absolute;
          right: -1px;
          background-color: $white;
          border-radius: 5px;
          border: 1px solid $light-blue;
          width: 250px;
          top: 50px;

          .header-user-nav-data-wrapper {
            padding: $spacing-lg;

            .header-user-nav-data {
              display: grid;
              grid-template-columns: 40px 1fr;
              align-items: center;
              text-decoration: none;
              color: $dark;
              font-weight: bold;
              background-color: $light-grey;
              padding: $spacing-md $spacing-lg;
              border-radius: 5px 5px 0 0;


              &:hover {
                background-color: $light-blue;
              }

              .header-user-nav-fullname {
                padding: 0 $spacing-md;
              }

              .header-user-nav-avatar {
                height: 40px;
                width: 40px;
                border-radius: 50%;
                object-fit: cover;
              }
            }

            .header-profile-user-status {
              display: flex;
              position: relative;
              background-color: $light-grey;
              border-radius: 0 0 5px 5px;
              padding: 0 $spacing-lg;

              .header-profile-user-status-name {
                cursor: pointer;
                display: grid;
                grid-template-columns: 50px 16px;
                align-items: center;
              }

              .header-profile-user-status-list {
                position: absolute;
                display: flex;
                flex-direction: column;
                background-color: $white;
                border-radius: 5px;
                width: 100px;
                border: 1px solid $light-blue;
                top: 18px;
                left: 0;
                padding: $spacing-sm;

                .header-profile-user-status-type-icon {
                  border-radius: 50%;
                  width: 15px;
                  height: 15px;
                }

                .online {
                  background-color: green;
                }

                .offline {
                  background-color: grey;
                }

                .busy {
                  background-color: red;
                }

                .away {
                  background-color: yellow;
                }

                .header-profile-user-status-type {
                  display: grid;
                  grid-template-columns: 15px 1fr;
                  gap: 5px;
                  cursor: pointer;

                  &:hover {
                    background-color: $light-blue
                  }
                }
              }
            }
          }

          .header-user-nav-links {
            list-style-type: none;
            padding: 0 0 $spacing-sm 0;
            display: flex;
            flex-direction: column;

            .header-user-nav-link {
              padding: $spacing-md $spacing-lg;
              width: 100%;
              color: $dark;
              text-decoration: none;
              display: grid;
              grid-template-columns: 16px 1fr;
              align-items: center;
              box-sizing: border-box;
              cursor: pointer;

              &:hover {
                background-color: $light-blue;
              }

              .header-user-nav-link-text {
                margin-left: $spacing-md;
                font-size: 15px;
              }

              svg {
                color: $dark-blue;
              }
            }
          }
        }
      }
    }
  }
}